################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CentralAPI/.vs/CentralService/FileContentIndex/2a41329f-d337-4f4e-8406-4ce8252d278c.vsidx
/CentralAPI/.vs/CentralService/FileContentIndex/5131f4ca-00fb-4f2a-b4b2-f41782700fad.vsidx
/CentralAPI/.vs/CentralService/FileContentIndex/614d1363-0217-4ca5-b3e2-56e14e1b2251.vsidx
/CentralAPI/.vs/CentralService/FileContentIndex/714763d8-7388-46e9-a212-bc7acf04889a.vsidx
/CentralAPI/.vs/CentralService/FileContentIndex/714d0d08-2635-4629-a85e-9d69ad17b226.vsidx
/CentralAPI/.vs/CentralService/FileContentIndex/d19a9160-1af6-4603-b6dd-bf7b535811fd.vsidx
/CentralAPI/.vs/CentralService/FileContentIndex/e21143f3-3728-4d8c-b2c5-6d91d2340bc0.vsidx
/CentralAPI/.vs/CentralService/FileContentIndex/e2991fbb-b9e0-492a-8fdd-f4ff9dc0ff66.vsidx
/Main/.vs/Main/FileContentIndex/9d02f883-c14d-4388-968d-5377b68b91bb.vsidx
